"mysql":
    "host": "127.0.0.1"
    "db": "your_db_name"
    "port": !!int "3306"
"redis":
    "host": "127.0.0.1"
    "port": !!int "6379"
    "db": !!int  "0"
"wechat":
   "agentID": !!int "2"
   "CorpID": "wxxxxxx"
   "Secret": "xxxxx"
   "Token": "xxx"
   "EncodingAESKey": "xxx"
   "URL_PREFIX": "https://qyapi.weixin.qq.com/cgi-bin"
"mail":
    "smtp": "smtp.exmail.qq.com"
    "port": !!int "465"
    "username": "your_email_username"
    "passwd": "password"
